<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>TEST2</span>
      <nav>
        <button mat-button routerLink="/Liste">Liste de produits</button>
        <button mat-button routerLink="/Item">Item</button>
        <button mat-button routerLink="/Detail">Details de produits</button>
        <button mat-button routerLink="/Authentification">Authentification</button>
      </nav>
    </mat-toolbar>
  </p>
  
